# Ignore environment variable file
.env

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Ignore virtual environment folders
env/
venv/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Streamlit secrets
.streamlit/secrets.toml

# VS Code settings (optional)
.vscode/

# MacOS / Windows files (optional)
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.cache/
pytest_cache/
